<!-- templates/appointments/create_appointment.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Appointment</title>
    {% load static %}
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container form-container">
      <h1>Schedule New Appointment</h1>

      <form method="POST">
        {% csrf_token %} 
        {{ form.non_field_errors }}
        {{ form.some_other_field }}
        <div class="form-group">
          <label for="doctor">Doctor</label>
          <select class="form-control" id="doctor" name="doctor">
            {% for doctor in doctors %}
            <option value="{{ doctor.id }}">
              {{ doctor.name }} - {{ doctor.specialty }}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="patient">Patient</label>
          <select class="form-control" id="patient" name="patient">
            {% for patient in patients %}
            <option value="{{ patient.id }}">{{ patient.name }}</option>
            {% endfor %}
          </select>
        </div>
        {{form.as_p}}
        <button type="submit" class="btn btn-submit btn-block">
        Schedule
        </button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
